<!-- FOOTER START -->
<footer>
  	<div class="footerinner wrapper align-center text-light">
		<a id="backtotop" href="#" class="sr-button sr-buttonicon small-iconbutton"><i class="fa fa-angle-up"></i></a>
		<p class="footer-logo"><%= image_tag("footerlogo.png", :size => "64x64", :alt => "Show Group") %></a>
		</p>
	<ul class="socialmedia-widget social-share">
			<li class="facebook">
				<a href="http://facebook.com/lnchrr" target="_blank">Facebook</a>
			</li>
			<li class="twitter">
				<a href="http://twitter.com/lnchrr" target="_blank">Tweet</a>
			</li>
			<li class="linkedin">
				<a href="http://www.linkedin.com/company/launcherr" target="_blank"> Linkedin</a>
			</li>
			<li class="instagram">
				<a href="http://instagram.com/lnchrr" target="_blank">Instagram</a>
			</li>
    </ul>
	  
	  <p class="copyright"><a href="http://blog.launcherr.com/about">About</a> | <a href="http://blog.launcherr.com">Blog</a> | <a href="http://blog.launcherr.com/contact">Contact</a></p>
	  </p>
		<p class="copyright">Copyright &copy; 2014 - Launcherr - Crowdsourcing Creative Projects
    </p>
	</div>
</footer>
<!-- FOOTER END -->