 <!-- PASSIONATE -->
			<div id="passionate" class="horizontalsection text-light parallax-section2">
			<div class="horizontalinner wrapper align-center">
			  <p><h2> Ready To Launch	</h2></p>
				<div class="spacer spacer-small"></div>
				
			</div>
		</div>

<%- model_class = Post -%>
<div id="portfolio-singlee" class="section-innere">
          <div class="wrapper clearfix"><br>
  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New Project'], :model => Post %></h3>
</div></div>
<%= render :partial => 'form' %><br>

